apiVersion: apps/v1beta2
kind: Deployment
metadata:
  name: gateway-deployment
  labels:
    app: playfull
    tier: backend
spec:
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
      - image: ahesselgrave/gateway
        ports:
        - containerPort: 80