apiVersion: apps/v1
kind: Deployment
metadata:
  name: rng-deployment
  labels:
    app: rng
    tier: backend
spec:
  selector:
    matchLabels:
      app: rng
  template:
    metadata:
      labels:
        app: rng
    spec:
      containers:
      - name: rng
        image: ahesselgrave/rng
        ports:
        - containerPort: 80